<ion-header>
    <ion-navbar>
        <ion-title>Menu Subclassifications</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let menuSubclassification of menuSubclassifications; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(menuSubclassification)">
                <h2>{{menuSubclassification.name}}</h2>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, menuSubclassification)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(menuSubclassification)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!menuSubclassifications?.length">
        No Menu Subclassifications found.
    </ion-item>
</ion-content>
