<ion-header>
    <ion-navbar>
        <ion-title>Picture</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <span color="primary" showWhen="ios">
                  {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
                <span color="primary" showWhen="ios">
                    {{ 'DONE_BUTTON' | translate }}
                </span>
                <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <div>
                    <img [src]="'data:' + picture.contentType + ';base64,' + picture.content" style="max-height: 100px;" *ngIf="picture?.content" alt="picture image"/>
                    <div *ngIf="picture.content">
                        <p>{{picture.contentType}}, {{byteSize(picture.content)}}</p>
                        <button type="button" class="trash" (click)="clearInputImage('content', 'contentType', 'fileImage')">
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </div>
                    <input type="file" #fileInput style="display: none" (change)="setFileData($event, picture, 'content', true)" accept="image/*"/>
                    <div *ngIf="!picture?.content" (click)="getPicture('content')" ion-button icon-start>
                        <ion-icon name="add-circle"></ion-icon>
                        {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
                    </div>
                </div>
            </ion-item>
            <ion-item>
                <ion-label>Restaurant</ion-label>
                <ion-select id="field_restaurant" formControlName="restaurant" [compareWith]="compareRestaurant">
                    <ion-option [value]="null"></ion-option>
                    <ion-option [value]="restaurantOption.id" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.id}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
