<ion-header>
    <ion-navbar>
        <ion-title>Pictures</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let picture of pictures; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(picture)">
                <ion-avatar *ngIf="picture.content">
                    <img [src]="'data:' + picture.contentType + ';base64,' + picture.content" />
                    <p *ngIf="picture.content">{{picture.contentType}}, {{byteSize(picture.content)}}</p>
                </ion-avatar>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, picture)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(picture)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!pictures?.length">
        No Pictures found.
    </ion-item>
</ion-content>
