<ion-header>
    <ion-navbar>
        <ion-title>Picture</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Content</ion-label>
            <div item-content>
                <div *ngIf="picture.content">
                    <a (click)="openFile(picture.contentType, picture.content)">
                        <img [src]="'data:' + picture.contentType + ';base64,' + picture.content" style="max-width: 100%;" alt="picture image"/>
                    </a>
                    {{picture.contentType}}, {{byteSize(picture.content)}}
                </div>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Restaurant</ion-label>
            <div item-content *ngIf="picture.restaurantId">
                <a>{{picture.restaurantId}}</a>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(picture)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
