restaurant-marker {
  .restaurant {
    padding: 10px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 10px 9px 17px -8px rgba(0,0,0,0.48);

    .name {
      font-size: 1.8rem;
    }

    .restaurant-item {
      .item-inner {
        padding-right: 0;
        border-bottom: none;
      }
    }

    .btn-close {
      color: $primary-color;
    }
  }
}
