<!-- Generated template for the RestaurantMarkerComponent component -->
<div class="restaurant">

  <ion-row justify-content-between>
    <h3 class="mb-0 name">{{restaurant.name}}</h3>
    <div end>
      <i class="fa fa-times btn-close"
         (click)="onClose()"
         aria-hidden="true"></i>
    </div>
  </ion-row>

  <ion-item class="pl-0 restaurant-item">
    <ion-thumbnail item-start>
      <img *ngIf="restaurant.logo"
           src="{{restaurant.logo.url}}"
           onError="src='assets/img/noimage.jpg'">
      <img *ngIf="!restaurant.logo"
           src="assets/img/noimage.jpg">
    </ion-thumbnail>
    <p>
      <ion-icon name="star" color="yellow"></ion-icon>
      <ion-icon name="star" color="yellow"></ion-icon>
      <ion-icon name="star" color="yellow"></ion-icon>
      <ion-icon name="star" color="yellow"></ion-icon>
      <ion-icon name="star-half" color="yellow"></ion-icon>
    </p>
    <p>
      <span *ngFor="let meal of restaurant.mealClassifications; last as isLast">
          {{meal.name}}
          <span *ngIf="!isLast">, </span>
        </span>
    </p>
    <button ion-button
            clear
            (click)="goToRestaurantProfile(restaurant)"
            class="mr-0 mt-0"
            item-end>
      <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
    </button>
  </ion-item>
</div>
