<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'LOGIN_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <div id="form-background">
    <div class="background">
      <ion-row class="content" justify-content-center>
        <ion-col class="main-content" align-self-center>
          <div class="logo">
            <ion-row justify-content-center>
              <img src="assets/imgs/ichoose-orange.png">
            </ion-row>
          </div>
          <form [formGroup]="form" (submit)="doLogin(form.value)">

            <ion-list>

              <!--Login-->
              <ion-item class="pl-0 b-0">
                <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
                <ion-input type="string" formControlName="username"></ion-input>
              </ion-item>
              <!--Password-->
              <ion-item class="pl-0">
                <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
              <!--Remember-->
              <ion-item class="pl-0 bb-0 rememberme">
                <ion-label>{{ 'REMEMBER_ME' | translate }}</ion-label>
                <ion-toggle formControlName="rememberMe"></ion-toggle>
              </ion-item>

              <ion-row padding>
                <button ion-button color="primary" [disabled]="!form.valid" block id="login">{{ 'LOGIN_BUTTON' | translate }}</button>
              </ion-row>

            </ion-list>

          </form>

          <div class="login margin-top">
            <ion-row justify-content-center>
              {{'LOGIN_ACCOUNT' | translate}}
            </ion-row>

            <ion-row justify-content-center>
              <button ion-button (click)="signup()" clear>
                {{ 'SIGNUP' | translate }}
              </button>
            </ion-row>
          </div>

        </ion-col>
      </ion-row>
    </div>
  </div>

</ion-content>
