<ion-list-header class="mb-0 pl-0"
                 *ngIf="restaurant.description">
  {{'RESTAURANT_DESCRIPTION' | translate}}
</ion-list-header>
<span>{{restaurant.description}}</span>

<ion-list-header class="mb-0 pl-0">
  {{'RESTAURANT_LOCATION' | translate}}
</ion-list-header>

<agm-map
  *ngIf="restaurant.location"
  [latitude]="restaurant.location.latitude"
  [longitude]="restaurant.location.longitude"
  [zoom]="zoom"
  (click)="navigator()">
  <agm-marker
    [latitude]="restaurant.location.latitude"
    [longitude]="restaurant.location.longitude"
    [iconUrl]="'assets/imgs/marker.png'"></agm-marker>
</agm-map>
