<ion-tabs [selectedIndex]="getSelectedIndex()">
  <ion-tab [root]="tab1Root"
           tabIcon="search"></ion-tab>
  <ion-tab [root]="tab2Root" [enabled]="isAuthenticated()"
           tabIcon="bookmark"></ion-tab>
  <ion-tab [root]="tab4Root" [enabled]="isAuthenticated()"
           tabIcon="notifications" tabBadge="{{unreadNotif}}"></ion-tab>
  <ion-tab [root]="tab3Root"
           tabIcon="settings"></ion-tab>
</ion-tabs>
