<ion-header>
    <ion-navbar>
        <ion-title>Menus</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let menu of menus; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(menu)">
                <h2>{{menu.name}}</h2>
                <p>{{menu.description}}</p>
                <p>{{menu.price}}</p>
                <p>{{menu.quantity}}</p>
                <!-- todo: special handling for translating enum - {{'DestinationType.' + menu.destination}}" -->
                <p>{{menu.destination}}</p>
                <p>{{menu.disabled}}</p>
                <p>{{menu.deleteDate | date:'medium'}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, menu)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(menu)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!menus?.length">
        No Menus found.
    </ion-item>
</ion-content>
