<ion-header>
    <ion-navbar>
        <ion-title>Menu</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <span color="primary" showWhen="ios">
                  {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
                <span color="primary" showWhen="ios">
                    {{ 'DONE_BUTTON' | translate }}
                </span>
                <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Description" formControlName="description"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="number" placeholder="Price" formControlName="price"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="number" placeholder="Quantity" formControlName="quantity"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Destination</ion-label>
                <ion-select formControlName="destination" id="field_destination" >
                        <ion-option value="BAR">BAR</ion-option>
                        <ion-option value="COOKER">COOKER</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Disabled</ion-label>
                <ion-checkbox formControlName="disabled"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Delete Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="deleteDate" id="field_deleteDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Measuring Unit</ion-label>
                <ion-select id="field_measuringUnit" formControlName="measuringUnit" [compareWith]="compareMeasuringUnit">
                    <ion-option [value]="null"></ion-option>
                    <ion-option [value]="measuringUnitOption.id" *ngFor="let measuringUnitOption of measuringunits; trackBy: trackMeasuringUnitById">{{measuringUnitOption.id}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Classification</ion-label>
                <ion-select id="field_classification" formControlName="classification" [compareWith]="compareMenuClassification">
                    <ion-option [value]="null"></ion-option>
                    <ion-option [value]="menuClassificationOption.id" *ngFor="let menuClassificationOption of menuclassifications; trackBy: trackMenuClassificationById">{{menuClassificationOption.id}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Restaurant</ion-label>
                <ion-select id="field_restaurant" formControlName="restaurant" [compareWith]="compareRestaurant">
                    <ion-option [value]="null"></ion-option>
                    <ion-option [value]="restaurantOption.id" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.id}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Pictures</ion-label>
                <ion-select id="field_pictures" multiple="true" formControlName="pictures" [compareWith]="comparePicture">
                    <ion-option [value]="pictureOption" *ngFor="let pictureOption of pictures; trackBy: trackPictureById">{{pictureOption.id}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Subclassifications</ion-label>
                <ion-select id="field_subclassifications" multiple="true" formControlName="subclassifications" [compareWith]="compareMenuSubclassification">
                    <ion-option [value]="menuSubclassificationOption" *ngFor="let menuSubclassificationOption of menusubclassifications; trackBy: trackMenuSubclassificationById">{{menuSubclassificationOption.id}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
