<ion-header>
    <ion-navbar>
        <ion-title>Menu</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Name</ion-label>
            <div item-content>
                <span>{{menu.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Description</ion-label>
            <div item-content>
                <span>{{menu.description}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Price</ion-label>
            <div item-content>
                <span>{{menu.price}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Quantity</ion-label>
            <div item-content>
                <span>{{menu.quantity}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Destination</ion-label>
            <div item-content>
                <span>{{menu.destination}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Disabled</ion-label>
            <div item-content>
                <span>{{menu.disabled}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Delete Date</ion-label>
            <div item-content>
                <span>{{menu.deleteDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Measuring Unit</ion-label>
            <div item-content *ngIf="menu.measuringUnitId">
                <a>{{menu.measuringUnitId}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Classification</ion-label>
            <div item-content *ngIf="menu.classificationId">
                <a>{{menu.classificationId}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Restaurant</ion-label>
            <div item-content *ngIf="menu.restaurantId">
                <a>{{menu.restaurantId}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Pictures</ion-label>
            <div item-content>
                <span *ngFor="let pictures of menu.pictures; let last = last">
                    <a>{{pictures.id}}</a>{{last ? '' : ', '}}
                </span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Subclassifications</ion-label>
            <div item-content>
                <span *ngFor="let subclassifications of menu.subclassifications; let last = last">
                    <a>{{subclassifications.id}}</a>{{last ? '' : ', '}}
                </span>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(menu)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
