<ion-header>
    <ion-navbar>
        <ion-title>Locations</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let location of locations; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(location)">
                <p>{{location.latitude}}</p>
                <p>{{location.longitude}}</p>
                <p>{{location.streetNumber}}</p>
                <p>{{location.route}}</p>
                <p>{{location.postalCode}}</p>
                <p>{{location.country}}</p>
                <p>{{location.formattedAddress}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, location)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(location)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!locations?.length">
        No Locations found.
    </ion-item>
</ion-content>
