<ion-header>
    <ion-navbar>
        <ion-title>Location</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Latitude</ion-label>
            <div item-content>
                <span>{{location.latitude}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Longitude</ion-label>
            <div item-content>
                <span>{{location.longitude}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Street Number</ion-label>
            <div item-content>
                <span>{{location.streetNumber}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Route</ion-label>
            <div item-content>
                <span>{{location.route}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Postal Code</ion-label>
            <div item-content>
                <span>{{location.postalCode}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Country</ion-label>
            <div item-content>
                <span>{{location.country}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Formatted Address</ion-label>
            <div item-content>
                <span>{{location.formattedAddress}}</span>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(location)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
