<!-- Generated template for the OrdersComponent component -->
<ion-list *ngIf="entity.orders">
  <div *ngFor="let order of entity.orders">
    <!--Booking-->
    <ion-item-sliding class="item-sliding">
      <ion-item *ngIf="type == 'booking'" class="pl-0">
        <ion-avatar item-start>
          <img *ngIf="order.menu.pictures[0]"
               src="{{order.menu.pictures[0].url}}"
               onError="src='assets/img/noimage.jpg'">
          <img *ngIf="!order.menu.pictures[0]"
               src="assets/img/noimage.jpg">
        </ion-avatar>
        <h2><b>{{order.quantity}}x {{order.menu.name}}</b></h2>
        <h3 class="price">${{order.price}}</h3>
      </ion-item>

      <!--Stay-->
      <ion-item *ngIf="type == 'stay'"
                class="pl-0">
        <ion-avatar item-start>
          <img *ngIf="order.menu.pictures[0]"
               src="{{order.menu.pictures[0].url}}"
               onError="src='assets/img/noimage.jpg'">
          <img *ngIf="!order.menu.pictures[0]"
               src="assets/img/noimage.jpg">
        </ion-avatar>
        <h2><b>{{order.quantity}}x {{order.menu.name}}</b></h2>
        <h3 class="price">${{order.price}}</h3>
        <div class="mt-0 mb-0" item-end>
          <!--Released-->
          <i class="fa fa-clock-o icon-secondary"
             aria-hidden="true"
             *ngIf="!order.released"></i>
          <i class="fa fa-check icon-success"
             aria-hidden="true"
             *ngIf="order.released"></i>
        </div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button
                *ngIf="(!order.released || !entity.end) && !checkStatusTable(entity)"
                (click)="removeMenu(order.id)"
                color="danger">
          <ion-icon>
            <i class="fa fa-trash fa-lg"
               aria-hidden="true"></i>
          </ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </div>
  <ion-item class="pl-0" *ngIf="entity.orders && entity.orders.length==0">
    {{ 'BOOKING_ORDERS_EMPTY' | translate }}
  </ion-item>
</ion-list>
