<!-- Generated template for the CounterComponent component -->
<ion-grid class="pb-0 pt-0">
  <ion-row justify-content-center>
    <ion-icon *ngIf="false" color="primary">
      <i class="fa fa-plus" aria-hidden="true"></i>
    </ion-icon>
  </ion-row>
  <ion-row justify-content-center>
    <h2 class="value"><b>{{value}}</b></h2>
  </ion-row>
  <ion-row justify-content-center>
    <ion-icon *ngIf="false" color="primary">
      <i class="fa fa-minus" aria-hidden="true"></i>
    </ion-icon>
  </ion-row>
</ion-grid>
