<ion-header>
    <ion-navbar>
        <ion-title>Client</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Birthdate</ion-label>
            <div item-content>
                <span>{{client.birthdate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>User Id</ion-label>
            <div item-content>
                <span>{{client.userId}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Location</ion-label>
            <div item-content *ngIf="client.locationId">
                <a>{{client.locationId}}</a>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(client)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
