<ion-header>
    <ion-navbar>
        <ion-title>Menu Classification</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Name</ion-label>
            <div item-content>
                <span>{{menuClassification.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Subclassifications</ion-label>
            <div item-content>
                <span *ngFor="let subclassifications of menuClassification.subclassifications; let last = last">
                    <a>{{subclassifications.id}}</a>{{last ? '' : ', '}}
                </span>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(menuClassification)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
