<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        {{ 'NEWSTAY' | translate }}
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>

    <restaurant-profile [restaurant]="restaurant"></restaurant-profile>
          
    <ion-item>           
              <ion-label >{{ 'TABLE' | translate }}</ion-label>
              <h5 item-end>{{clientTableStay.number}}</h5>
    </ion-item>

    
    <ion-item class="pl-0, buttonClass" >
            
        <ion-label>{{ 'HOW_MANY_DINERS' | translate }}</ion-label>
        
        <ion-input type="number"
                  [(ngModel)] = "people"
                   name="people" required>
          </ion-input>

      <button class="buttonClass"
              ion-button
              item-end
              (click)="decrement()">
        <ion-icon>
          <i class="fa fa-minus"
             aria-hidden="true"></i>
        </ion-icon>
      </button>
      <button class="buttonClass"
              ion-button
              item-end
              (click)="increment()">
        <ion-icon>
          <i class="fa fa-plus"
             aria-hidden="true"></i>
        </ion-icon>
      </button>

    </ion-item>

    <ion-footer padding>
        <ion-buttons end>
         <button ion-button (click)="dismiss()" clear>
             {{ 'CANCEL' | translate }}
         </button>
         <button ion-button color="primary" [disabled]="isLoading" (click)="confirm()" item-end icon-end>
             {{ 'CONFIRM' | translate }}
         </button>
       </ion-buttons>
   </ion-footer>
</ion-content>
