<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="toolbar toolbar-md toolbar-md-primary">
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content align="center" padding >
  <ion-spinner [class.hide]="!spinnerLoad"
               class="spinnerProfile"
               color="primary" ></ion-spinner>
  <form [class.hide]="spinnerLoad" #formCtrl="ngForm">
    <div>
      <img class="profile-image" src="{{ profileImg }}">
      <ion-toolbar color="primary">
        <ion-buttons>
          <button ion-button icon-left
                  (click)="presentActionSheet()">
            <ion-icon name="camera"></ion-icon>{{ 'SELECT_IMAGE' | translate }}
          </button>
        </ion-buttons>
      </ion-toolbar>
    </div>
    <ion-list>
      <ion-item>
        <ion-label floating>{{ 'FIRST_NAME' | translate }}</ion-label>
        <ion-input type="text"
                   [(ngModel)]="client.firstName"
                   name="firstName"
                   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'LAST_NAME' | translate }}</ion-label>
        <ion-input type="text"
                   [(ngModel)]="client.lastName"
                   name="lastName"
                   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="text"
                   [(ngModel)]="client.email"
                   name="email"
                   required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'TELPHONE' | translate }}</ion-label>
        <ion-input type="number"
                   [(ngModel)]="client.telephoneNumber"
                   name="tel" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
        <ion-select [(ngModel)]="person.langKey" [ngModelOptions]="{standalone: true}" (ionChange)="segmentChanged($event)" required>
          <ion-option value="en"
                      checked="person.langKey == 'en'">
            {{ 'EN' | translate }}</ion-option>
          <ion-option value="es"
                      checked="person.langKey == 'es'">
            {{ 'SP' | translate }}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ 'ADDRESS' | translate }}</ion-label>
        <ion-input type="text"
                   [(ngModel)]="address"
                   name="location"
                   id="location" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'NATIONALITY' | translate }}</ion-label>
        <ion-select [(ngModel)]="client.nationalityId"
                    [ngModelOptions]="{standalone: true}"
                    required >
          <ion-option *ngFor="let nationality of nationalities"
                      [value]="nationality.id"
                      checked="nationality.id == client.nationalityId">
            {{person.langKey == 'en' ? nationality.nameEn : nationality.nameSp}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{ 'BIRTHDATE' | translate }}</ion-label>
        <ion-datetime required
                      name="birthdate"
                      displayFormat="DD MMM YYYY"
                      pickerFormat="DD MMM YYYY"
                      [(ngModel)]="client.birthdate"
                      [ngModelOptions]="{standalone:true}"></ion-datetime>
      </ion-item>
    </ion-list>
    <button class="button-md-primary"
            [disabled]="!formCtrl.form.valid"
            ion-button block
            (click)="save()">
      {{ 'SAVE' | translate }}
    </button>
    <button class="disable-hover button button-md button-clear button-clear-md"
            ion-button block
            (click)="cancel($event)">
      {{ 'CANCEL' | translate }}
    </button>
  </form>
</ion-content>
