page-profile {
    .profile-image{
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    .spinnerProfile {
        width: 100px;
        height: 100%;
    }
    .hide {
        display: none;
    }
}
