restaurant-profile {

  ion-label {
    margin-right: 0 !important;
  }

  ion-list-header {

    .row-avatar {
      min-height: 60px;
    }

    &.restaurant-profile {
      color: #000;
      margin-bottom: 0;

      .row-profile {
        margin-top: 5px;

        &.name {
          h2 {
            font-weight: bold;
          }
        }

        &.star {
          ion-icon {
            margin-right: 3px;

            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
