<!-- Generated template for the RestaurantProfileComponent component -->
<ion-list-header class="pl-0 b-0 restaurant-profile">
  <ion-row justify-content-center>
    <div class="profile-img">
      <ion-avatar *ngIf="restaurant.pictures">
        <img *ngIf="restaurant.logo"
             src="{{restaurant.logo.url}}"
             onError="src='assets/img/noimage.jpg'">
        <img *ngIf="!restaurant.logo" src="assets/img/noimage.jpg">
      </ion-avatar>
    </div>
  </ion-row>
  <ion-row justify-content-center class="row-profile name">
    <h2>{{restaurant.name}}</h2>
  </ion-row>
  <ion-row justify-content-center>
    <span *ngIf="restaurant.location">
      {{restaurant.location.route}} {{restaurant.location.streetNumber}}, {{restaurant.location.country}}</span>
  </ion-row>
  <ion-row justify-content-center class="row-profile star">
    <ion-icon name="star" color="yellow"></ion-icon>
    <ion-icon name="star" color="yellow"></ion-icon>
    <ion-icon name="star" color="yellow"></ion-icon>
    <ion-icon name="star" color="yellow"></ion-icon>
    <ion-icon name="star-half" color="yellow"></ion-icon>
  </ion-row>
</ion-list-header>
