$mt-booking-item: 5px;

booking-item {
  .grid-booking {
    font-size: 1.5rem;
    margin-top: $mt-booking-item;
    margin-bottom: 2px;

    .fa {
      color: $secondary-color;
    }

    .second-row {
      margin-top: $mt-booking-item;
    }

    .amount {
      color:  $primary-color;
      font-weight: 500;
    }
  }
}
