<!-- Generated template for the BookingItemComponent component -->
<ion-item class="pl-0"
          *ngFor="let booking of bookings; index as index; last as isLast"
          [ngClass]="{'last-item': isLast}"
          (click)="goToBookingProfile(booking)"
          disabled="menu.disabled">
  <ion-avatar item-start>
    <img *ngIf="booking.restaurant && booking.restaurant.logo"
         src="{{booking.restaurant.logo.url}}"
         onError="src='assets/img/noimage.jpg'">
    <img *ngIf="!(booking.restaurant && booking.restaurant.logo)"
         src="assets/img/noimage.jpg">
  </ion-avatar>
  <h2 *ngIf="booking.restaurant">
    <b>
      {{booking.restaurant.name}}
    </b>
  </h2>

  <ion-grid class="p-0 grid-booking">
    <ion-row class="p-0">
      <ion-col class="p-0"
               align-self-start>
        <div float-left>
          <!--Dates-->
          <i class="fa fa-calendar icon-secondary"
             *ngIf="!stay"
             aria-hidden="true"></i>
          <span *ngIf="!stay">
            {{booking.dateTime | date: 'd/M/yy'}}
          </span>
          <i class="fa fa-clock-o icon-secondary"
             *ngIf="stay"
             aria-hidden="true"></i>
          <span *ngIf="stay">
            {{differences[index]}}
          </span>
        </div>
      </ion-col>
      <ion-col class="p-0"
               align-self-end>
        <div float-right>
          <!--People-->
          <i class="fa fa-users icon-secondary" aria-hidden="true"></i>
          <span>
            {{booking.people}} {{ getQty(booking.people) | translate }}
          </span>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="p-0 second-row">
      <ion-col class="p-0"
               align-self-start>
        <div float-left>
          <!--Times-->
          <i class="fa fa-clock-o icon-secondary"
             *ngIf="!stay"
             aria-hidden="true"></i>
          <span *ngIf="!stay">
            {{booking.dateTime | date: 'h:mm a'}}
          </span>
          <span class="amount" *ngIf="stay">
            $ {{booking.amount}}
          </span>

        </div>
      </ion-col>
      <ion-col class="p-0"
               align-self-end>
        <div float-right>
          <!--Booking-->
          <span *ngIf="!stay"
                text-capitalize
                class="status-badge {{booking.status}}">
            {{getStatus(booking.status) | translate}}
          </span>
          <!--Stay-->
          <span *ngIf="stay && !booking.end"
                class="status-badge ACTIVE">
            {{'STATUS_IN_PROGRESS' | translate}}
          </span>
          <span *ngIf="stay && booking.end"
                class="status-badge FINALIZED">
            {{'STATUS_FINALIZED' | translate}}
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
