<ion-header>
    <ion-navbar>
        <ion-title>Measuring Unit</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Name</ion-label>
            <div item-content>
                <span>{{measuringUnit.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Code</ion-label>
            <div item-content>
                <span>{{measuringUnit.code}}</span>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(measuringUnit)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
