@import "mixins";

.badge-md {
  &.badge-item {
    color: $primary-color;
    background-color: $background-color;
    margin-top: 0;
    margin-right: 0 !important;
    padding-right: 0 !important;
  }
}

.status-badge {
  font-weight: 500;
  padding: 0 9px;
  border: 2px solid lightgrey;
  border-radius: 6px;
  text-transform: capitalize;

  &.PENDING {
    color: black;
  }
  &.ACTIVE {
    color: $success-color;
  }
  &.DISMISSED, &.REJECTED, &.FINALIZED {
    color: $secondary-color;
  }
}

