#form-background {
  height: 100%;

  .background {
    background: url("../assets/imgs/restaurant-background.png") no-repeat center center fixed;
    background-size: cover;

    .content {
      height: 100%;

      .main-content {
        background-color: $background-color;
        padding: 0 30px 30px 30px;
        max-width: 700px;
        max-height: 570px;
        border-radius: 3px;
        box-shadow: 15px 13px 36px -6px rgba(48,48,48,1);
        color: $secondary-color;

        .logo {
          margin: 50px 0;
          img {
            height: 60px;
          }
        }

        .terms {
          margin-bottom: 32px;
        }

        .login {
          font-weight: bold;

          &.margin-top {
            margin-top: 32px;
          }
        }
      }

    }
  }

}

@media (max-height: 576px) {
  #form-background {
    .background {

      .content {

        .main-content {

          .logo {
            margin: 20px 0 0 0;
            img {
              height: 45px;
            }
          }

          .terms {
            margin-bottom: 16px;
          }

        }
      }
    }
  }
}
@media (min-height: 577px) and (max-height: 767px) {
  #form-background {
    .background {
      height: 100%;

      .content {

        .main-content {

          .logo {
            margin: 20px 0 0 0;
            img {
              height: 45px;
            }
          }

          .terms {
            margin-bottom: 16px;
          }

        }
      }
    }
  }
}

@media (min-height: 768px) {
  #form-background {
    .background {
      height: 100%;

      .main-content {
        font-size: 20px;

      }
    }
  }
}

.scroll-content {
  padding-bottom: 0 !important;
}
