.content-md, .item-md, .bg-color {
  background-color: $background-color !important;
}

//Icons
.icon-secondary {
  color: $secondary-color;
}
.icon-info {
  color: $info-color;
}
.icon-success {
  color: $success-color;
}

//No Data
.no-data {
  img {
    height: 100px;
    width: 100px;
  }

  .description {
    max-width: 200px;
    margin-top: 15px;
    color:  #8c8c8c;
    font-size: 1.6rem;
    font-weight: bold;

    &.title {
      max-width: none;
    }
  }

  .sub-description {
    max-width: 250px;
    color:  #8c8c8c;
  }

  .search-button {
    margin-top: 15px;
  }
}

//Paddings and margins
.p-0 {
  padding: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mt-1 {
  margin-top: 1em;
}

//Borders
.b-0 {
  border: 0 !important;
}
.bb-0 {
  .item-inner {
    border-bottom: 0 !important;
  }
}

.last-item {
  .item-inner {
    border-bottom: 0 !important;
  }
}

//Images
.item-md, .item-ios {
  @include profile-img();
}
