<ion-header>
    <ion-navbar>
        <ion-title>Client Table Status</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Name</ion-label>
            <div item-content>
                <span>{{clientTableStatus.name}}</span>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(clientTableStatus)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
