<ion-header>
    <ion-navbar>
        <ion-title>Client Table</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <span color="primary" showWhen="ios">
                  {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
                <span color="primary" showWhen="ios">
                    {{ 'DONE_BUTTON' | translate }}
                </span>
                <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Number" formControlName="number"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="number" placeholder="Chairs" formControlName="chairs"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Modifiable</ion-label>
                <ion-checkbox formControlName="modifiable"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Delete Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="deleteDate" id="field_deleteDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Sector</ion-label>
                <ion-select id="field_sector" formControlName="sector" [compareWith]="compareSector">
                    <ion-option [value]="null"></ion-option>
                    <ion-option [value]="sectorOption.id" *ngFor="let sectorOption of sectors; trackBy: trackSectorById">{{sectorOption.id}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Status</ion-label>
                <ion-select id="field_status" formControlName="status" [compareWith]="compareClientTableStatus">
                    <ion-option [value]="null"></ion-option>
                    <ion-option [value]="clientTableStatusOption.id" *ngFor="let clientTableStatusOption of clienttablestatuses; trackBy: trackClientTableStatusById">{{clientTableStatusOption.id}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
