<ion-header>
    <ion-navbar>
        <ion-title>Client Tables</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let clientTable of clientTables; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(clientTable)">
                <p>{{clientTable.number}}</p>
                <p>{{clientTable.chairs}}</p>
                <p>{{clientTable.modifiable}}</p>
                <p>{{clientTable.deleteDate | date:'medium'}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, clientTable)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(clientTable)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!clientTables?.length">
        No Client Tables found.
    </ion-item>
</ion-content>
