<ion-header>
    <ion-navbar>
        <ion-title>Client Table</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Number</ion-label>
            <div item-content>
                <span>{{clientTable.number}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Chairs</ion-label>
            <div item-content>
                <span>{{clientTable.chairs}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Modifiable</ion-label>
            <div item-content>
                <span>{{clientTable.modifiable}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Delete Date</ion-label>
            <div item-content>
                <span>{{clientTable.deleteDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Sector</ion-label>
            <div item-content *ngIf="clientTable.sectorId">
                <a>{{clientTable.sectorId}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Status</ion-label>
            <div item-content *ngIf="clientTable.statusId">
                <a>{{clientTable.statusId}}</a>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(clientTable)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
