<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only
              (click)="changeView()">
        <ion-icon>
          <i class="fa fa-map-o"
             *ngIf="view == 'list'"
             aria-hidden="true"></i>
          <i class="fa fa-list-ul"
             *ngIf="view == 'map'"
             aria-hidden="true"></i>
        </ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <img class="logo"
           src="assets/imgs/ichoose-white.png">
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only
              (click)="openModalFiltros($event)">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="{'content-map': view == 'map'}">

  <!-- Refresher Pulling -->
  <ion-refresher *ngIf="view == 'list'"
                 (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <!--Content-->
  <ion-searchbar *ngIf="view == 'list'"
                 [(ngModel)]="filter.search"
                 placeholder="{{ 'SEARCH_TITLE' | translate }}"
                 (ionInput)="getRestaurants(true)"
                 [ngClass]="{'pl-0 pr-0': platform.is('android')}">

  </ion-searchbar>

  <!--List View-->
  <ion-list *ngIf="view == 'list'">

     <ion-card class="pl-0 ml-0 mr-0"
              *ngFor="let restaurant of restaurants"
              (click)="goToRestaurantProfile(restaurant)">

      <ion-item>
        <ion-avatar item-start>
          <img *ngIf="restaurant.logo"
               src="{{restaurant.logo.url}}"
               onError="src='assets/img/noimage.jpg'">
          <img *ngIf="!restaurant.logo"
               src="assets/img/noimage.jpg">
        </ion-avatar>
        <h2><b>{{restaurant.name}}</b></h2>
        <p>
          <span *ngIf="restaurant.location">
            {{restaurant.location.route}} {{restaurant.location.streetNumber}}
          </span>
        </p>
      </ion-item>

      <img *ngIf="!restaurant.pictures || !restaurant.pictures[0]"
           src="assets/img/noimage.jpg">
      <img *ngIf="restaurant.pictures && restaurant.pictures[0]"
           src="{{restaurant.pictures[0].url}}"
           onError="src='assets/img/noimage.jpg'">

      <ion-card-content>
        <p>{{restaurant.description}}</p>
        <br>
        <p>
          <span *ngIf="restaurant.restaurantType">{{restaurant.restaurantType.name}}</span>
          <span *ngFor="let meal of restaurant.mealClassifications; first as isFirst; last as isLast">
            <span *ngIf="isFirst"> • </span>
            {{meal.name}}
            <span *ngIf="!isLast">, </span>
          </span>
        </p>

        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
          </ion-col>
          <ion-col center text-center>
            <ion-note float-right>
              <ion-icon name='pin'></ion-icon>
              <span *ngIf="restaurant.distance!= null && restaurant.distance < 1000">{{restaurant.distance | number: '0.0-0'}} m</span>
              <span *ngIf="restaurant.distance!= null && restaurant.distance >= 1000" >{{restaurant.distance / 1000 | number: '0.0-0'}} km</span> 
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>

  </ion-list>

  <!--No data-->
  <div class="no-data" *ngIf="loaded && restaurants.length==0">
    <ion-row class="content" justify-content-center>
      <ion-col align-self-center>
        <ion-row justify-content-center>
          <img src="assets/imgs/lupa.png">
        </ion-row>
        <ion-row justify-content-center>
          <span text-center class="description">
            {{ 'RESTAURANTS_EMPTY' | translate }}
          </span>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll *ngIf="view == 'list' && restaurants && restaurants.length > 0"
                       (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <!--Map View-->
  <map-view *ngIf="view == 'map'"
            [lat]="filter.lat"
            [lng]="filter.lng"
            [restaurants]="restaurants"
            (restaurantSelected)="onSelect($event)"></map-view>

  <ion-footer class="footer-restaurant"
              *ngIf="restaurantSelected"
              padding>
      <restaurant-marker [restaurant]="view == 'map' && restaurantSelected"
                         (close)="onClose($event)">
      </restaurant-marker>
  </ion-footer>

</ion-content>
