page-home {

  .logo {
    height: 30px;
  }

  ion-card {
    width: 100% !important;
  }

  .content-map {
    .scroll-content {
      padding: 0 !important;
    }
  }

  .footer-restaurant {
    padding: 8px !important;

    &:before {
      background: none;
    }
  }

  .no-data {
    height: calc(100% - 75px);

    .content {
      height: 100%;
    }
  }
}
