<!-- Generated template for the PromotionsComponent component -->
<ion-list>
  <ion-item class="pl-0" *ngFor="let promotion of promotions" disabled="promotion.disabled">
    <h2><b>{{promotion.name}}</b></h2>
    <ion-badge class="bagde-item" item-end>${{promotion.finalPrice}}</ion-badge>
    <h3>{{promotion.description}}</h3>
  </ion-item>
  <ion-item class="pl-0" *ngIf="promotions.length==0">
    No promotions found.
  </ion-item>
</ion-list>
