<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <!--Authenticated-->
  <form [formGroup]="form" *ngIf="isAuthenticated() && settingsReady">
    <ion-list *ngIf="page == 'main'">

      <!--Profile-->
      <ion-item (click)="pageProfile()">
        <ion-icon name="person" color="primary" item-start></ion-icon>
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </ion-item>

      <!--Logout-->
      <ion-item (click)="logout()">
        <ion-icon color="primary" item-start>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </ion-icon>
        Logout
      </ion-item>

    </ion-list>

  </form>
  <!--No Authenticated-->
  <div class="no-authenticated" *ngIf="!isAuthenticated()">
    <ion-row class="content" justify-content-center>
      <ion-col class="main-content" align-self-center>
        <ion-row justify-content-center>
          <img class="avatar" src="assets/imgs/profile.jpg">
        </ion-row>
        <ion-row padding>

          <button ion-button color="primary" (click)="login()" block>
            {{ 'LOGIN_BUTTON' | translate }}
          </button>
          <button ion-button color="primary" (click)="signup()" block>
            {{ 'SIGNUP_BUTTON' | translate }}
          </button>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
