page-settings {
  .no-authenticated {
    height: 100%;

    .content {
      height: 100%;
    }

    .avatar {
      border-radius: 50%;
      height: 75px;
      border: 1px solid #C5C4C3;
      margin-bottom: 1em;
    }
  }
}
