.item{
  overflow: inherit ;
  text-overflow: inherit ;
  white-space: normal ;
}

.no-data {
  height: 100%;

  .content {
    height: 100%;
  }
}

.not-read
{
   background-color: #edf2fa !important;
}

page-notification {

  .breakPage{
    flex-flow: column;
  }

 
}
