<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'NOTIFICATIONS' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<!-- *ngIf="notifications.length==0" -->
 <!--No data-->



<ion-content >
    <!-- Refresher Pulling -->
    <ion-refresher (ionRefresh)="doRefresh($event)" >
        <ion-refresher-content>
        </ion-refresher-content>
      </ion-refresher>

   <!--No data-->
   <div class="no-data" *ngIf="notifications.length==0" >
      <ion-row class="content" justify-content-center>
      <ion-col align-self-center>
        <ion-row justify-content-center>
           <img src="assets/imgs/bell-smile.png"> 
        </ion-row>
        <ion-row justify-content-center>
          <span text-center class="description title">
            {{ 'NO_NOTIFICATIONS' | translate }}
          </span> 
        </ion-row>
  
      </ion-col>
      </ion-row>
      </div>

    <ion-list> 
   
      <ion-list-header *ngIf="notifications.length > 0">{{ 'RECENT' | translate }}</ion-list-header>
    
   
     
    <ion-item-sliding #slidingItem *ngFor="let notification of notificationsRecent" [ngSwitch]="notification.type">
     
      
      <ion-item (click)="goToBooking(notification.restaurant, notification)" [ngClass]="{'not-read': notification.readDate == null}"  *ngSwitchCase="'BOOKING_ACCEPTED'">
       <ion-thumbnail item-start>
        <img [src]= "notification.restaurant.logo.url"/> 
      </ion-thumbnail>
     <h2 class="item" [translate]="'BOOKING_ACCEPTED'" [translateParams]="{value: notification.restaurant.name }"></h2>
       <p class="item">{{ 'BODY_BOOKING_ACCEPTED' | translate }}</p>
       <ion-note item-end>{{notification.creationDate | date:"HH:mm"}}</ion-note>
    </ion-item>

    <ion-item (click)="goToBooking(notification.restaurant, notification)" [ngClass]="{'not-read': notification.readDate == null}"  *ngSwitchCase="'BOOKING_CHANGED'">
        <ion-thumbnail item-start>
         <img [src]= "notification.restaurant.logo.url"/> 
       </ion-thumbnail>
       <h2 class="item">{{'BOOKING_CHANGED' | translate}}</h2>
        <p class="item">{{ 'TABLE' | translate }} {{notification.parameters[1]}}</p>
        <p class="item">{{ 'TIME' | translate }} {{notification.parameters[2] | date: "HH:mm"}}</p>
        <ion-note item-end>{{notification.creationDate | date:"HH:mm"}}</ion-note>
     </ion-item>

    <ion-item (click)="goToRestaurantProfile(notification.restaurant, notification)" [ngClass]="{'not-read': notification.readDate == null}"  *ngSwitchCase="'PROMOTION'">
        <ion-thumbnail item-start>
          <img [src]= "notification.restaurant.logo.url"/> 
       </ion-thumbnail>
       <h2 class="item" [translate]="'TITLE_PROMOTION'" [translateParams]="{value1: notification.parameters[0], value2: notification.parameters[1] }"></h2>  
        <ion-note item-end>{{notification.creationDate | date:"HH:mm"}}</ion-note>
     </ion-item>
  
        <ion-item [ngClass]="{'not-read': notification.readDate==null}" (click)="goToHome(notification)" *ngSwitchCase="'BOOKING_REJECTED'">
          <ion-thumbnail item-start>
           <img [src]= "notification.restaurant.logo.url"/> 
         </ion-thumbnail>
        <h2 class="item" [translate]="'BOOKING_REJECTED'" [translateParams]="{value: notification.restaurant.name}"></h2>
          <p class="item" > {{ 'BODY_BOOKING_REJECTED' | translate }}</p>
         <ion-note item-end>{{notification.creationDate | date:"HH:mm"}}</ion-note>
       </ion-item>

    <ion-item [ngClass]="{'not-read': notification.readDate==null}" (click)="goToBooking(notification.restaurant)" *ngSwitchCase="'ORDERS_CHANGED'">
        <ion-thumbnail item-start>
         <img [src]= "notification.restaurant.logo.url"/> 
       </ion-thumbnail>
       <p class="item" [translate]="'BODY_ORDERS_CHANGED'" [translateParams]="{value: notification.restaurant.name}"></p>
       <ion-note item-end>{{notification.creationDate | date:"HH:mm"}}</ion-note>
     </ion-item>

   <ion-item-options>
        <button *ngIf="notification.readDate == null" ion-button color="light" (click)="markAsRead(notification, slidingItem)"  icon-start>
          <ion-icon name="book"></ion-icon>
          {{'MARK_AS_READ' | translate }}
        </button>
        <button ion-button color="danger" (click)="removeNotification(notification)" icon-start>
          <ion-icon name="trash"></ion-icon>
          {{'DELETE_BUTTON' | translate }} 
        </button>
      </ion-item-options>
    
    </ion-item-sliding>

  </ion-list>

  <ion-list> 
   
      <ion-list-header *ngIf="notifications.length > 0">{{ 'PREVIOUS' | translate }}</ion-list-header>
    
   
     
    <ion-item-sliding #slidingItem *ngFor="let notification of notificationsPrevious" [ngSwitch]="notification.type">
     
      
      <ion-item (click)="goToBooking(notification.restaurant, notification)" [ngClass]="{'not-read': notification.readDate==null}"  *ngSwitchCase="'BOOKING_ACCEPTED'" >
       <ion-thumbnail item-start>
        <img [src]= "notification.restaurant.logo.url"/> 
      </ion-thumbnail> 
     <h2 class="item" [translate]="'BOOKING_ACCEPTED'" [translateParams]="{value: notification.restaurant.name }"></h2>
       <p class="item">{{ 'BODY_BOOKING_ACCEPTED' | translate }}</p>
       <ion-note item-end>{{notification.creationDate | date:"dd-MMM"}}</ion-note>
    </ion-item>

    <ion-item (click)="goToBooking(notification.restaurant, notification)" [ngClass]="{'not-read': notification.readDate == null}"  *ngSwitchCase="'BOOKING_CHANGED'">
        <ion-thumbnail item-start>
         <img [src]= "notification.restaurant.logo.url"/> 
       </ion-thumbnail>
       <h2 class="item">{{'BOOKING_CHANGED' | translate}}</h2>
        <p class="item">{{ 'TABLE' | translate }} {{notification.parameters[1]}}</p>
        <p class="item">{{ 'TIME' | translate }} {{notification.parameters[2] | date: "HH:mm"}}</p>
        <ion-note item-end>{{notification.creationDate | date:"HH:mm"}}</ion-note>
     </ion-item>

    <ion-item (click)="goToRestaurantProfile(notification.restaurant, notification)" [ngClass]="{'not-read': notification.readDate == null}"  *ngSwitchCase="'PROMOTION'">
        <ion-thumbnail item-start>
          <img [src]= "notification.restaurant.logo.url"/> 
       </ion-thumbnail>
       <h2 class="item" [translate]="'TITLE_PROMOTION'" [translateParams]="{value1: notification.parameters[0], value2: notification.parameters[1] }"></h2>
        <ion-note item-end>{{notification.creationDate | date:"HH:mm"}}</ion-note>
     </ion-item>
  

    
        <ion-item (click)="goToHome(notification)" [ngClass]="{'not-read': notification.readDate==null}"  *ngSwitchCase="'BOOKING_REJECTED'">
          <ion-thumbnail item-start>
           <img [src]= "notification.restaurant.logo.url"/> 
         </ion-thumbnail>
        <h2 class="item" [translate]="'BOOKING_REJECTED'" [translateParams]="{value: notification.restaurant.name}"></h2>
          <p class="item" > {{ 'BODY_BOOKING_REJECTED' | translate }}</p>
         <ion-note item-end>{{notification.creationDate | date:"dd-MMM"}}</ion-note>
       </ion-item>

    <ion-item [ngClass]="{'not-read': notification.readDate!=null}" (click)="goToBooking(notification.restaurant)" *ngSwitchCase="'ORDERS_CHANGED'">
        <ion-thumbnail item-start>
         <img [src]= "notification.restaurant.logo.url"/> 
       </ion-thumbnail>
       <p class="item" [translate]="'BODY_ORDERS_CHANGED'" [translateParams]="{value: notification.restaurant.name}"></p>
       <ion-note item-end>{{notification.creationDate | date:"dd-MMM"}}</ion-note>
     </ion-item>

   <ion-item-options>
        <button ion-button color="light" (click)="markAsRead(notification, slidingItem)"  icon-start>
          <ion-icon name="book"></ion-icon>
          {{'MARK_AS_READ' | translate }}
        </button>
        <button ion-button color="danger" (click)="removeNotification(notification)" icon-start>
          <ion-icon name="trash"></ion-icon>
          {{'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    
    </ion-item-sliding>

  </ion-list>

    <!-- Infinite Scroll -->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)"
    *ngIf="notifications.length>0">
<ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
</ion-infinite-scroll>

</ion-content>
    
