page-menu-detail {
  .picture {
    margin: 15px 0;
    height: 150px;

    img {
      height: 120px;
    }
  }

  .price {
    padding: 15px 0 !important;
    color: $primary-color;
    font-weight: 700;
    font-size: 24px;
  }

  .description {
    padding: 15px 0;
    color: $secondary-color;
  }

  .counter {
    padding: 15px 0;
  }

  .actions {
    padding: 15px 0;
  }
}
