<!--
  Generated template for the MenuDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{menu.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--Picture-->
  <ion-row class="picture" justify-content-center>
    <img *ngIf="menu.pictures && menu.pictures[0]"
         src="{{menu.pictures[0].url}}"
         onError="src='assets/img/noimage.jpg'">
  </ion-row>

  <!--Price-->
  <ion-row class="price" justify-content-center>
    <span *ngIf="menu.price">${{menu.price}}</span>
  </ion-row>

  <!--Description-->
  <ion-row *ngIf="menu.description" class="description" justify-content-center>
    <span text-center>{{menu.description}}</span>
  </ion-row>

  <!--Counter-->
  <ion-grid class="counter">
    <ion-row>
      <ion-col align-items-center>
        <ion-row justify-content-center>
          <ion-icon (click)="minus()" color="primary">
            <i class="fa fa-minus" aria-hidden="true"></i>
          </ion-icon>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center>
          <h2 class="value"><b>{{value}}</b></h2>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center>
          <ion-icon (click)="plus()" color="primary">
            <i class="fa fa-plus" aria-hidden="true"></i>
          </ion-icon>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="actions">
    <button [disabled]="!menu.id" ion-button block color="primary" (click)="addToCart()">
      {{ 'ADD_TO_CART' | translate }}
    </button>
  </div>

</ion-content>
