$mt-stay-detail: 20px;

page-booking-dialog {

  .item-sliding {
    .price {
      color: $primary-color;
    }
  }

  .totales {
    .total {
      font-weight: bold;
      font-size: 22px;
    }
  }

  .item-stay {
    .item-title {
      font-size: 1.6rem;
      font-weight: 500;
    }
    .item-subtitle {
      font-size: 1.4rem;
      color: $secondary-color;
    }
  }

  .circle-btn {
    box-shadow: none;
    border-radius: 50%;
  }
}
