<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="!stayId">
      {{ 'BOOKING' | translate }}
    </ion-title>
    <ion-title *ngIf="stayId">
      {{ 'STAY' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--Header-->
  <restaurant-profile [restaurant]="restaurant"></restaurant-profile>

  <!--Tabs-->
    <ion-segment [(ngModel)]="id">
      <ion-segment-button *ngIf="!stayId"
                          value="booking">
          {{ 'RESTAURANT_TAB4' | translate }}
      </ion-segment-button>
      <ion-segment-button *ngIf="stayId"
                          value="stay">
        {{ 'STAY' | translate }}
      </ion-segment-button>
      <ion-segment-button value="orders">
        {{ 'RESTAURANT_TAB5' | translate }}
      </ion-segment-button>
      <ion-segment-button value="info">
          {{ 'RESTAURANT_TAB3' | translate }}
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="id" padding>
      <ion-list *ngSwitchCase="'booking'">
          <form [formGroup]="form">
              <ion-list>
                  <!--People-->
                  <ion-item class="pl-0">
                      <ion-label>{{ 'HOW_MANY_DINERS' | translate }}</ion-label>
                      <ion-input type="number"
                                 formControlName="people">
                      </ion-input>

                    <button class="button-md-primary circle-btn"
                            ion-button
                            item-end
                            [disabled]="isEditing"
                            (click)="decrement($event)">
                      <ion-icon>
                        <i class="fa fa-minus"
                           aria-hidden="true"></i>
                      </ion-icon>
                    </button>
                    <button class="button-md-primary circle-btn"
                            ion-button
                            item-end
                            [disabled]="isEditing"
                            (click)="increment($event)">
                      <ion-icon>
                        <i class="fa fa-plus"
                           aria-hidden="true"></i>
                      </ion-icon>
                    </button>

                  </ion-item>
                  <!--DateTime-->
                  <ion-item class="pl-0">
                      <ion-label>{{ 'PICK_THE_DATE' | translate }}</ion-label>
                      <ion-datetime item-right
                                    [min]="minDate"
                                    [(ngModel)]="currentDate"
                                    (ngModelChange)="onDateChange()"
                                    formControlName="dateTime"
                                    displayFormat="DD MMM YYYY"
                                    pickerFormat="DD MMM YYYY">
                      </ion-datetime>
                  </ion-item>

                  <!--Hour-->
                  <ion-item class="pl-0">
                      <ion-label>{{ 'SET_TIME' | translate }}</ion-label>
                      <ion-datetime item-right
                                    [min]="minDate"
                                    [(ngModel)]="currentDate"
                                    formControlName="hourTime"
                                    displayFormat="HH mm"
                                    pickerFormat="HH mm">
                      </ion-datetime>
                  </ion-item>
                  <!--Comments-->
                  <ion-item class="pl-0">
                      <ion-label floating>{{ 'COMMENTS' | translate }}</ion-label>
                      <ion-input type="text"
                                 formControlName="comments">
                      </ion-input>
                  </ion-item>
                  <!--Table-->
                  <ion-item class="pl-0"
                            *ngIf="booking.id">
                    <span class="item-title">
                      {{ 'TABLE' | translate }}
                    </span>
                    <span class="item-subtitle"
                          *ngIf="booking.table"
                          item-end>
                      {{booking.table.number}}
                    </span>
                    <span *ngIf="!booking.table"
                          class="item-subtitle" item-end>
                          <i class="fa fa-clock-o icon-secondary"
                             aria-hidden="true"></i>
                    </span>
                  </ion-item>
              </ion-list>
          </form>
      </ion-list>
      <ion-list *ngSwitchCase="'stay'">
        <div *ngIf="stay">
          <!--Date-->
          <ion-item class="pl-0 item-stay">
            <span class="item-title">
              {{ 'DATE' | translate }}
            </span>
            <span class="item-subtitle" item-end>
              {{stay.init | date: 'd/M/yy h:mm a'}}
            </span>
          </ion-item>
          <!--People-->
          <ion-item class="pl-0 item-stay">
            <span class="item-title">
              {{ 'MY_BOOKINGS_PEOPLE' | translate }}
            </span>
            <span class="item-subtitle" item-end>
              {{stay.people}}
            </span>
          </ion-item>
          <!--Elapsed-->
          <ion-item class="pl-0 item-stay">
            <span class="item-title">
              {{ 'ELAPSED' | translate }}
            </span>
            <span class="item-subtitle" item-end>
              {{difference}}
            </span>
          </ion-item>
          <!--Table-->
          <ion-item class="pl-0 item-stay"
                    *ngIf="stay.table">
            <span class="item-title">
              {{ 'TABLE' | translate }}
            </span>
            <span class="item-subtitle" item-end>
              {{stay.table.number}}
            </span>
          </ion-item>
        </div>
      </ion-list>
      <ion-list *ngSwitchCase="'orders'">
        <orders [entity]="getEntity()"
                [type]="getType()"></orders>
      </ion-list>
      <ion-list *ngSwitchCase="'info'">
          <restaurant-info [restaurant]="restaurant"></restaurant-info>
      </ion-list>
    </div>
</ion-content>

<ion-footer padding>
  <ion-grid class="p-0">
    <ion-row class="p-0" align-items-center>
      <!--Total-->
      <ion-col class="p-0" col-4>
        <div *ngIf="booking.orders && booking.orders.length > 0"
             class="totales" start>
          <span class="total">
            ${{this.getTotal()}}
          </span>
        </div>
        <div *ngIf="stay && stay.amount"
             class="totales" start>
          <span class="total">
            ${{stay.amount}}
          </span>
        </div>
      </ion-col>
      <!--Buttons-->
      <ion-col class="p-0">
        <ion-buttons class="p-0" end>
          <button *ngIf="restaurant.id"
                  class="button-md-primary"
                  (click)="goToRestaurant(restaurant.id)"
                  [disabled]="(stay && (stay.end || checkStatusTable(stay))) || isLoading"
                  ion-button>
            <ion-icon>
              <i class="fa fa-list-ul"
                 aria-hidden="true"></i>
            </ion-icon>
          </button>
          <!--Booking-->
          <button class="button-md-primary"
                  ion-button
                  *ngIf="!stayId"
                  [disabled]="!form.valid || booking.id || isLoading"
                  (click)="save($event, form.value)">
            {{ 'SAVE_BUTTON' | translate }}
          </button>
          <!--Stay-->
          <button class="button-md-primary"
                  ion-button
                  (click)="check(stay.id)"
                  *ngIf="stayId"
                  [disabled]="(stay && stay.end) || isLoading || checkStatusTable(stay)">
            {{ 'CHECK' | translate }}
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
