<ion-header>
    <ion-navbar>
        <ion-title>Restaurants</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let restaurant of restaurants; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(restaurant)">
                <h2>{{restaurant.name}}</h2>
                <p>{{restaurant.description}}</p>
                <p>{{restaurant.cuit}}</p>
                <p>{{restaurant.cbu}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, restaurant)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(restaurant)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!restaurants?.length">
        No Restaurants found.
    </ion-item>
</ion-content>
