<ion-header>
    <ion-navbar>
        <ion-title>Restaurant</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Name</ion-label>
            <div item-content>
                <span>{{restaurant.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Description</ion-label>
            <div item-content>
                <span>{{restaurant.description}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Cuit</ion-label>
            <div item-content>
                <span>{{restaurant.cuit}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Cbu</ion-label>
            <div item-content>
                <span>{{restaurant.cbu}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Location</ion-label>
            <div item-content *ngIf="restaurant.locationId">
                <a>{{restaurant.locationId}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Restaurant Type</ion-label>
            <div item-content *ngIf="restaurant.restaurantTypeId">
                <a>{{restaurant.restaurantTypeId}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Meal Classification</ion-label>
            <div item-content>
                <span *ngFor="let mealClassification of restaurant.mealClassifications; let last = last">
                    <a>{{mealClassification.id}}</a>{{last ? '' : ', '}}
                </span>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(restaurant)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
