<ion-header>
    <ion-navbar>
        <ion-title>Restaurant</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <span color="primary" showWhen="ios">
                  {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
                <span color="primary" showWhen="ios">
                    {{ 'DONE_BUTTON' | translate }}
                </span>
                <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Description" formControlName="description"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Cuit" formControlName="cuit"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Cbu" formControlName="cbu"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Location</ion-label>
                <ion-select id="field_location" formControlName="location" [compareWith]="compareLocation">
                    <ion-option [value]="null"></ion-option>
                    <ion-option [value]="locationOption.id" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Restaurant Type</ion-label>
                <ion-select id="field_restaurantType" formControlName="restaurantType" [compareWith]="compareRestaurantType">
                    <ion-option [value]="null"></ion-option>
                    <ion-option [value]="restaurantTypeOption.id" *ngFor="let restaurantTypeOption of restauranttypes; trackBy: trackRestaurantTypeById">{{restaurantTypeOption.id}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Meal Classification</ion-label>
                <ion-select id="field_mealClassification" multiple="true" formControlName="mealClassifications" [compareWith]="compareMealClassification">
                    <ion-option [value]="mealClassificationOption" *ngFor="let mealClassificationOption of mealclassifications; trackBy: trackMealClassificationById">{{mealClassificationOption.id}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
