<ion-header>
    <ion-navbar>
        <ion-title>Sector</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <span color="primary" showWhen="ios">
                  {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
                <span color="primary" showWhen="ios">
                    {{ 'DONE_BUTTON' | translate }}
                </span>
                <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Accesibility</ion-label>
                <ion-checkbox formControlName="accesibility"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Delete Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="deleteDate" id="field_deleteDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Restaurant</ion-label>
                <ion-select id="field_restaurant" formControlName="restaurant" [compareWith]="compareRestaurant">
                    <ion-option [value]="null"></ion-option>
                    <ion-option [value]="restaurantOption.id" *ngFor="let restaurantOption of restaurants; trackBy: trackRestaurantById">{{restaurantOption.id}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Location</ion-label>
                <ion-select id="field_location" formControlName="location" [compareWith]="compareSectorLocation">
                    <ion-option [value]="null"></ion-option>
                    <ion-option [value]="sectorLocationOption.id" *ngFor="let sectorLocationOption of sectorlocations; trackBy: trackSectorLocationById">{{sectorLocationOption.id}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
