<ion-header>
    <ion-navbar>
        <ion-title>Sector</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Name</ion-label>
            <div item-content>
                <span>{{sector.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Accesibility</ion-label>
            <div item-content>
                <span>{{sector.accesibility}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Delete Date</ion-label>
            <div item-content>
                <span>{{sector.deleteDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Restaurant</ion-label>
            <div item-content *ngIf="sector.restaurantId">
                <a>{{sector.restaurantId}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Location</ion-label>
            <div item-content *ngIf="sector.locationId">
                <a>{{sector.locationId}}</a>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(sector)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
