<!-- Generated template for the MenusComponent component -->
<ion-list>

  <div *ngFor="let classification of classifications">
    <ion-list-header class="mb-0 pl-0">{{classification.name}}</ion-list-header>
    <ion-item class="pl-0"
              *ngFor="let menu of classification.items; last as isLast"
              [ngClass]="{'last-item': isLast}"
              (click)="viewMenu(menu)"
              disabled="menu.disabled">
      <ion-avatar item-start>
        <img src="{{menu.pictures[0].url}}" onError="src='assets/img/noimage.jpg'">
      </ion-avatar>
      <h2><b>{{menu.name}}</b></h2>
      <h3>{{menu.description}}</h3>
      <!--Price-->
      <ion-badge class="badge-item" item-end>${{menu.price}}</ion-badge>

    </ion-item>
  </div>
  <ion-item class="pl-0" *ngIf="classifications.length==0">
    No menus found.
  </ion-item>

</ion-list>
