<!--
  Generated template for the MyBookingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'MY_BOOKINGS_PROFILE' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <!-- Refresher Pulling -->
  <ion-refresher (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <!--Stays-->
  <div *ngIf="stays && stays.length>0">
    <ion-list-header class="mb-0 pl-0">
      {{ 'STAYS' | translate }}
    </ion-list-header>
    <booking-item [bookings]="stays"
                  [stay]="true"></booking-item>
  </div>

  <!--Actives-->
  <div *ngIf="activeBookings.length>0">
    <ion-list-header class="mb-0 pl-0">
      {{ 'MY_BOOKINGS_ACTIVES' | translate }}
    </ion-list-header>
    <booking-item [bookings]="activeBookings"></booking-item>
  </div>

  <!--Pendings-->
  <div  *ngIf="pendingBookings.length>0">
    <ion-list-header class="mb-0 pl-0">
      {{ 'MY_BOOKINGS_PENDINGS' | translate }}
    </ion-list-header>
    <booking-item [bookings]="pendingBookings"></booking-item>
  </div>

  <!--No data-->
  <div class="no-data"
       *ngIf="loaded && stays.length==0 && activeBookings.length==0 && pendingBookings.length==0">
    <ion-row class="content" justify-content-center>
      <ion-col align-self-center>
        <ion-row justify-content-center>
          <img src="assets/imgs/plato.png">
        </ion-row>
        <ion-row justify-content-center>
          <span text-center class="description title">
            {{ 'MY_BOOKINGS_EMPTY_TITLE' | translate }}
          </span>
        </ion-row>
        <ion-row justify-content-center>
          <span text-center class="sub-description">
            {{ 'MY_BOOKINGS_EMPTY_SUB' | translate }}
          </span>
        </ion-row>
        <ion-row justify-content-center>
            <button ion-button class="search-button"
                    color="primary"
                    (click)="goToHome()">
              {{ 'SEARCH_TITLE' | translate }}
          </button>
        </ion-row>
      </ion-col>
    </ion-row>
  </div>

  <ion-fab right bottom>
    <button (click)="scan()" ion-fab color="primary">
        <ion-icon name="qr-scanner"></ion-icon>
    </button>
  </ion-fab>

  <!-- Infinite Scroll -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)"
                       *ngIf="activeBookings.length>0 && pendingBookings.length>0">
    <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
