<ion-header>
    <ion-navbar>
        <ion-title>Nationality</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label fixed>Name Sp</ion-label>
            <div item-content>
                <span>{{nationality.nameSp}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Name En</ion-label>
            <div item-content>
                <span>{{nationality.nameEn}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Name</ion-label>
            <div item-content>
                <span>{{nationality.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Iso 2</ion-label>
            <div item-content>
                <span>{{nationality.iso2}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Iso 3</ion-label>
            <div item-content>
                <span>{{nationality.iso3}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label fixed>Phone Code</ion-label>
            <div item-content>
                <span>{{nationality.phoneCode}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Image</ion-label>
            <div item-content *ngIf="nationality.imageId">
                <a>{{nationality.imageId}}</a>
            </div>
        </ion-item>
    </ion-list>

    <button ion-button block (click)="open(nationality)">{{ 'EDIT_BUTTON' | translate }}</button>
</ion-content>
