<ion-header>
    <ion-navbar>
        <ion-title>Nationality</ion-title>
        <ion-buttons start>
            <button ion-button (click)="cancel()">
                <span color="primary" showWhen="ios">
                  {{ 'CANCEL_BUTTON' | translate }}
                </span>
                <ion-icon name="md-close" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
                <span color="primary" showWhen="ios">
                    {{ 'DONE_BUTTON' | translate }}
                </span>
                <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Name Sp" formControlName="nameSp"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Name En" formControlName="nameEn"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Name" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Iso 2" formControlName="iso2"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Iso 3" formControlName="iso3"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="Phone Code" formControlName="phoneCode"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Image</ion-label>
                <ion-select id="field_image" formControlName="image" [compareWith]="comparePicture">
                    <ion-option [value]="null"></ion-option>
                    <ion-option [value]="pictureOption.id" *ngFor="let pictureOption of images; trackBy: trackPictureById">{{pictureOption.id}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
