<ion-header>
    <ion-navbar>
        <ion-title>Nationalities</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="open()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<!-- todo: add elasticsearch support -->
<ion-content padding>
    <ion-refresher (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item-sliding *ngFor="let nationality of nationalities; trackBy: trackId" #slidingItem>
            <button ion-item (click)="detail(nationality)">
                <p>{{nationality.nameSp}}</p>
                <p>{{nationality.nameEn}}</p>
                <h2>{{nationality.name}}</h2>
                <p>{{nationality.iso2}}</p>
                <p>{{nationality.iso3}}</p>
                <p>{{nationality.phoneCode}}</p>
            </button>
            <ion-item-options>
                <button ion-button color="primary" (click)="open(slidingItem, nationality)">
                    {{ 'EDIT_BUTTON' | translate }}
                </button>
                <button ion-button color="danger" (click)="delete(nationality)">
                    {{ 'DELETE_BUTTON' | translate }}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!nationalities?.length">
        No Nationalities found.
    </ion-item>
</ion-content>
