<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{restaurant.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

  <!-- Refresher Pulling -->
  <ion-refresher (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <!--Header-->
  <restaurant-profile [restaurant]="restaurant"></restaurant-profile>

  <!--Tabs-->
  <ion-segment [(ngModel)]="id">
    <ion-segment-button value="tab1">
      {{ 'RESTAURANT_TAB1' | translate }}
    </ion-segment-button>
    <ion-segment-button value="tab2">
      {{ 'RESTAURANT_TAB2' | translate }}
    </ion-segment-button>
    <ion-segment-button value="tab3">
      {{ 'RESTAURANT_TAB3' | translate }}
    </ion-segment-button>
  </ion-segment>

  <!--Content-->
  <div padding class="content">
    <div [ngSwitch]="id">
      <ion-list *ngSwitchCase="'tab1'">
        <menus [menus]="menus" [booking]="booking" [stay]="stay"></menus>
      </ion-list>
      <ion-list *ngSwitchCase="'tab2'">
        <promotions [promotions]="promotions" [booking]="booking"></promotions>
      </ion-list>
      <ion-list *ngSwitchCase="'tab3'">
        <restaurant-info [restaurant]="restaurant"></restaurant-info>
      </ion-list>
    </div>
  </div>

  <!--Booking-->
  <ion-fab right *ngIf="!booking || !booking.id" bottom>
    <button (click)="newBooking(restaurant)" ion-fab color="primary">
      <i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>
    </button>
  </ion-fab>

</ion-content>
