<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="form-background">
    <div class="background">
      <ion-row class="content" justify-content-center>
        <ion-col class="main-content" align-self-center>
          <div class="logo">
            <ion-row justify-content-center>
              <img src="assets/imgs/ichoose-orange.png">
            </ion-row>
          </div>
          <form [formGroup]="form" (submit)="doSignup(form.value)">

            <ion-list>
              <!--Login-->
              <ion-item class="pl-0 b-0">
                <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="account.login" formControlName="login"></ion-input>
              </ion-item>
              <!--Email-->
              <ion-item class="pl-0">
                <ion-label floating>{{ 'EMAIL' | translate }}</ion-label>
                <ion-input type="email" [(ngModel)]="account.email" formControlName="email"></ion-input>
              </ion-item>
              <!--Password-->
              <ion-item class="pl-0">
                <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
                <ion-input type="password" [(ngModel)]="account.password" formControlName="password"></ion-input>
              </ion-item>
              <!--Repeat password-->
              <ion-item class="pl-0">
                <ion-label floating>{{ 'REPEAT_PASSWORD' | translate }}</ion-label>
                <ion-input type="password" [(ngModel)]="repeat_password" formControlName="repeatPassword"></ion-input>
              </ion-item>

              <div padding class="pb-0">
                <button ion-button color="primary" [disabled]="!form.valid" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
              </div>

            </ion-list>

          </form>

          <div class="terms">
            <ion-row justify-content-center>
              {{'SIGNUP_TERMS' | translate}}
            </ion-row>
            <ion-row justify-content-center>
              {{'SIGNUP_TERMS2' | translate}}
            </ion-row>
          </div>
          <div class="login">
            <ion-row justify-content-center>
              {{'SIGNUP_ACCOUNT' | translate}}
            </ion-row>

            <ion-row justify-content-center>
              <button ion-button (click)="login()" clear>
                {{ 'LOGIN' | translate }}
              </button>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
